.landing-background {
    height: 375vh;
    width: 100vw;
    background-color: #F3ECDF;
}

.masthead {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    padding: 20px;
}

.sincerely {
    font-size: 152px;
    max-height: 100%;
    max-width: 100%;
    font-family: 'DM Serif Display', serif;
    grid-column: 2 / 6;
    grid-row: 1 / 3;
    margin: 0;
    align-self: start;
}

.landing-image {
    /* height: 98%; */
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    grid-column: 5 / 8;
    grid-row: 2 / 7;
}

.landing-description {
    grid-column: 2 / 5;
    grid-row: 3/ 7;
    margin-top: 0;
    font-size: 64px;
    font-family: 'DM Serif Display', serif;
}

.landing-second {
    height: 150vh;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    padding: 20px;
    column-gap: 10px;
}

.joy-send-receive {
    grid-column: 1 / 11;
    grid-row: 1 / 3;
    font-size: 84px;
    line-height: 1em;
    max-height: 100%;
    max-width: 100%;
    font-family: 'DM Serif Display', serif;
    text-align: center;
    align-self: start;
    margin: auto;
}


.landing-item-one {
    grid-column: 2 / 4;
    grid-row: 3 / 5;
    font-size: 92px;
    font-family: 'DM Serif Display', serif;
    margin: auto;
}

.landing-item-two {
    grid-column: 4 / 6;
    grid-row: 3 / 5;
    font-size: 92px;
    font-family: 'DM Serif Display', serif;
    margin: auto;
}

.landing-item-three {
    grid-column: 6 / 8;
    grid-row: 3 / 5;
    font-size: 92px;
    font-family: 'DM Serif Display', serif;
    margin: auto;
}

.landing-item-four {
    grid-column: 8 / 10;
    grid-row: 3 / 5;
    font-size: 92px;
    font-family: 'DM Serif Display', serif;
    margin: auto;
}

.landing-item-one-desc {
    grid-column: 2 / 4;
    grid-row: 5 / 8;
    font-family: 'mulish', sans-serif;
    margin: 0;
    font-size: 18;
    text-align: center;
}


.landing-item-two-desc {
    grid-column: 4 / 6;
    grid-row: 5 / 8;
    font-family: 'mulish', sans-serif;
    margin: 0;
    font-size: 18;
    text-align: center;
}

.landing-item-three-desc {
    grid-column: 6 / 8;
    grid-row: 5 / 8;
    font-family: 'mulish', sans-serif;
    margin: 0;
    font-size: 18;
    text-align: center;
}

.landing-item-four-desc {
    grid-column: 8 / 10;
    grid-row: 5 / 8;
    font-family: 'mulish', sans-serif;
    margin: 0;
    font-size: 18;
    text-align: center;
}

.with-a-catch {

    grid-column: 4 / 8;
    grid-row: 8 / 9;
    font-family: 'DM Serif Display', serif;
    font-size: 72px;
    margin: auto;
}


.whats-the-catch {
    grid-column: 3 / 9;
    grid-row: 9 / 12;
    margin: auto;
    text-align: center;
    font-family: 'mulish', sans-serif;
    font-size: 28px;
}

.landing-last {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    padding: 20px;
    align-items: center;
    justify-items: center;
}

.our-philosophy {
    grid-column: 1 / 11;
    grid-row: 1 / 3;
    font-family: 'DM Serif Display', serif;
    font-size: 72px;    
}

.philosophy-desc {
    grid-column: 2 / 10;
    grid-row: 3 / 6;
    font-family: 'mulish', sans-serif;
    font-size: 32px;
    text-align: center;
}

.landing-logo {
    grid-column: 4 / 8;
    grid-row: 6 / 11;
    max-height: 80%;
    width: auto;
    margin: auto;
}
