@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

input, button {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    
}

.page {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-content: center;
  }
  
  .form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 60px);
    row-gap: 8px;
    column-gap: 8px;
  }
  
  .country, .btn-container {
    grid-column: 1 / 3;
  }
  .country>input {
    width:100%;
    height:100%;
    box-sizing:border-box;
  }

.btn-container > button {
    width:100%;
    height: 100%
}

.btn-container {
    padding:0 20px;
}

h1 {
    position: fixed;
    width:100%;
    text-align:center;
    margin:0;
    top:16vh;
    font-size: 180px;
    font-family: 'DM Serif Display', serif;
}